# Data Manipulation
pandas
numpy

# Data Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
scipy

# Deep Learning
tensorflow
keras
torch
torchvision

# Natural Language Processing
nltk
spacy
gensim

# Miscellaneous
jupyter
notebook
ipython
ipywidgets

# Data Manipulation
pandas
numpy

timm==0.4.5
transformers==4.6
nms==0.1.6
bytetracker

# Data Visualization
matplotlib
seaborn
plotly
opencv-python


