# Data Manipulation
pandas
numpy

# Data Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
scipy

# Deep Learning
tensorflow
keras
torch
torchvision

# Natural Language Processing
nltk
spacy
gensim

# Miscellaneous
jupyter
notebook
ipython
ipywidgets